<h1>Question Pool</h1>

<div class="center">
   <%= render 'shared/menu_button_list',
    objects: @questions, display_attr: 'content' %>
  <br>
  <%= button_to 'Add Project', new_question_set_path,
    method: 'get', :class => 'flow_button'  %>
</div>

</div>
