<% provide(:title, 'Presentation') %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-10 small-centered columns subheader">
    <%= @question_set.title %>
  </h2>
</div>
       
  <ol>
    <% @questions.each do |question| %>
      <li id="chart_box"> 
        <h3><%= question.content %></h3>
          <%= content_tag :div, "", id: "responses_chart",
            data: { responses: response_chart_data_for(question) } %>
      </li>
    <% end %>
  </ol>
<div class="pagination-centered">
  <%= will_paginate %>
</div>
