<% provide(:title, "About") %>
<h1>About</h1>

<div class="center">
  <p>
    Shuntoo is a lightweight, user-friendly platform for getting critical, <em>live</em> feedback from your audience. It's the valuable, no fuss, 'back of the envelope' solution you've been looking for to get the answers you need. Making decisions and checking in with customers, students, or employees is a breeze with Shuntoo. Not only that, but it's equally awesome whether your target audience is there with you in the boardroom, classroom, auditorium -<em>or</em>- scattered around the globe. If you need rapidly viewable feedback in a familiar and easy multiple-choice format, Shuntoo is here to help!
  </p>
    <br />
  <p class="signature">-The Shuntoo Team</p>
</div>