<% provide(:title, "About") %>

<p>Ever wondered whether your audience was politely confused or ready for more challenging material? Shuntoo is here to help! Shuntoo lets you craft stimulating questions to share with a group ... and see their responses in real-time! </p>