<% provide(:title, "Home") %>

<div class="row">
  <div id="welcome-panel" class="large-6 large-offset-9 medium-8 small-12 small-centered columns">
    <h1 class="small-12 small-centered columns">Shuntoo</h1>
    <h3>Real-time audience polling</h3>
    <ul class="small-12 small-centered columns">
      <li>Presentation mode</li>
      <li>Multiple-choice format</li>
      <li>Lightweight convenience</li>
      <li>Real-time updates</li>
      <h5>...and more!</h5>
    </ul>

    <%= link_to signup_path, class: "button radius" do %>
      <div><%= "Sign up now!" %></div>
    <% end %>
  </div>
</div>


