<% provide(:title, "Home") %>

<div id="welcome_unit">
  <div id="welcome_color_block"></div>
  <div id="welcome_content">
    <h1>Shuntoo</h1>
    <h2>Audience Feedback</h2>
    <ul>
      <li>Lightweight</li>
      <li>Real-time</li>
      <li>Convenient</li>
    </ul>
    <%= link_to '#', id: "signup_button" do %>
      <div><%= "Sign up now!" %></div>
    <% end %>
  </div>
</div>


