<% provide(:title, "Home") %>

<div class="row">
  <div id="welcome-panel" class="large-6 large-offset-9 medium-8 small-12 small-centered columns">
    <h1 class="small-12 small-centered columns">Shuntoo</h1>
    <h3 class="large-10 small-centered columns">Live audience polling!</h3>
    <%= link_to respond_path, class: "button radius" do %>
      <div><%="Respond"%></div>
    <% end %>
    <h5>-or-</h5>
    <%= link_to signup_path, class: "button radius" do %>
      <div><%="Sign up!"%></div>
    <% end %>
  </div>
</div>


