<% provide(:title, "Home") %>

<div id="welcome_unit">
  <div id="welcome_color_block"></div>
  <div id="welcome_content">
    <h1>Shuntoo</h1>
    <ul>
      <li>Lightweight</li>
      <li>Real-time</li>
      <li>Convenient</li>
    </ul>
    <h2>Live polling for audiences near and far!</h2>
    <%= link_to signup_path, id: "signup_button" do %>
      <div><%= "Sign up now!" %></div>
    <% end %>
  </div>
  
</div>


