.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */
/* variabls */
/* universal */
/* line 16, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
body {
  padding-top: 70px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #CCCCFF;
  z-index: -1;
}

/* line 26, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.static_pages {
  background: url("lanterns.jpg") no-repeat center center;
  background-size: cover;
}

/* line 31, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
}

/* line 35, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.alert {
  width: 20%;
  padding: 1em;
  margin-bottom: 2em;
  font: bold medium sans-serif;
  color: #006600 !important;
  background-color: #FF7B7B;
}

/* line 44, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.container {
  height: 100%;
  width: 100%;
}

/* menu buttons */
/* line 52, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.menu_buttons ol {
  width: 90%;
  margin: auto;
  padding: 0;
  align: center;
  border: 2px solid blue;
}
/* line 59, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.menu_buttons li {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1em 0 1em 0;
  text-align: center;
  font: 2em bold;
}

/* forms lists */
/* line 72, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
form .field {
  margin-bottom: 5px;
}
/* line 74, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
form .field textarea {
  width: 90%;
  border-radius: 10px;
}
/* line 78, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
form .field input {
  width: 50%;
  border-radius: 10px;
}

/* line 84, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
fieldset legend {
  font-weight: bold;
}

/* line 88, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.center {
  width: 50%;
  text-align: center;
  padding: 5%;
  margin: auto;
  align: center;
  border-radius: 10px;
  background-color: #999999;
}
/* line 96, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.center a {
  text-decoration: none;
}
/* line 99, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.center ol {
  list-style: none;
  padding: 0;
}

/* line 105, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.question_box {
  text-align: left;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  padding: 1em;
}
/* line 107, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.question_box span {
  width: 80%;
}
/* line 115, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.question_box .edit_delete_links {
  align: right;
  margin-right: 5px;
}
/* line 119, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.question_box ul {
  align: center;
  margin: auto;
  list-style: none;
}
/* line 124, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.question_box li {
  list-style: none;
  margin: auto;
  padding: 0 0 1em 1em;
  text-align: left;
  font: 1.1em bold;
}

/* line 137, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
.flow_button {
  font: bold medium sans-serif;
  border-radius: 10px;
  height: 20%;
  width: 30%;
}

/* typography */
/* line 146, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.425em;
  margin: 0 0 0.95em;
}

/* line 151, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 158, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #eeeeee;
}

/* line 167, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* welcome unit */
/* line 174, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#welcome_unit {
  height: 300px;
  width: 300px;
  margin: 75px 100px auto auto;
  align: center;
  position: relative;
  border-radius: 28px;
  background-color: #FF3300;
}

/* line 185, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#welcome_content {
  text-align: center;
  align: center;
  height: 100%;
  z-index: 1;
  color: white;
  font-weight: bold;
}
/* line 192, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#welcome_content h1 {
  font-size: 4.5em;
  margin-bottom: 0px;
}
/* line 196, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#welcome_content h2 {
  font-size: 2em;
  margin-bottom: 5px;
}
/* line 200, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#welcome_content ul {
  letter-spacing: 1px;
  padding: 10px;
}
/* line 204, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#welcome_content li {
  list-style: none;
}

/* header */
/* line 211, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
header {
  height: 80px;
  top: 0;
  right: 0;
  left: 0;
  overflow: visible;
  position: fixed;
  z-index: 1;
}

/* line 220, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_color_block {
  background-color: black;
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.4;
  /* CSS3 */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 230, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 234, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav a {
  text-decoration: none;
  color: #eeeeee;
}
/* line 237, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav a:hover {
  color: #999999;
}
/* line 241, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav ul {
  margin-top: 35px;
  margin-right: 20px;
  float: right;
  list-style: none;
}
/* line 246, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav ul li {
  text-transform: uppercase;
  float: left;
  margin-left: 40px;
}
/* line 253, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav #logo {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #eeeeee;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  color: #eeeeee;
}
/* line 266, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
#header_nav #logo:hover {
  color: #999999;
}

/* footer */
/* line 274, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
footer {
  bottom: 0;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 40px;
  color: #555555;
}
/* line 281, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
footer small {
  float: left;
}
/* line 284, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
footer a {
  text-decoration: none;
  color: #222222;
}
/* line 287, /Users/bcair/rails_projects/shuntoo/app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: #555555;
}
