<% provide(:title, 'Review') %>

<div class="row">
  <div class="large-10 small-centered columns">
    <h2 id="page-title" class="subheader">
      <%= @question_set.title %></h2>
  </div>
</div> 

<div class="center">
  <%= render 'form' %>
</div>

