<h1>Menu</h1>

<div class="center">
   <%= render 'shared/list_objects', objects: @question_sets,
      display_attr: 'title', link_it: true %>
  <br>
  <%= link_to 'New Project', new_question_set_path %>
</div>
