<% provide(:title, 'Create Poll') %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-10 small-centered columns subheader">
    Create Poll
  </h2>
</div>

<div class="row">
  <%= render 'form' %>
</div>