<h1><%= @question_set.title %></h1>

<div class="center">
  <%= render 'shared/list_objects', objects: @question_set.questions,
    display_attr: 'content', link_it: false %>

  <%= button_to 'Add a Question', new_question_path, method: 'get',
    :form => { :id => 'add_a_question' } %>

</div>