<h1><%= @question_set.title %></h1>

<div class="center">
  <%= render 'shared/list_objects', objects: @question_set.questions,
    display_attr: 'content', link_it: false %>

  <%= button_to 'Add Question', new_question_path, method: 'get', :class => 'flow_button' %>

</div>