<!-- Must pass :objects, :display_attr and :linkit (true/false) -->
<ul>
  <% objects.each do |object| %>
    <li>

      <% if link_it %>
        <%= link_to object["#{display_attr}"], object %>
      <% else %>
        <%= object["#{display_attr}"] %>
      <% end %>
    <span class="edit_delete_links">
      <%= render 'shared/edit_object', object: object %> |
      <%= render 'shared/delete_object', object: object %>
    </span>

    </li>
  <% end %>
</ul>