<ul>
  <% objects.each do |object| %>
    <li>

      <% if link_it %>
        <%= link_to object["#{display_attr}"], object %>
      <% else %>
        <%= object["#{display_attr}"] %>
      <% end %>

      <%= render 'shared/edit_object', object: object %>
      <%= render 'shared/delete_object', object: object %>
      
    </li>
  <% end %>
</ul>