@import "foundation_and_overrides";
@import "foundation-icons";
$welcome-panel-color:#e42e09;

$black:       #000;
$grayDarker:  #222;
$grayDark:    #333;
$gray:        #555;
$grayMediumLight: #eaeaea;
$grayLight:   #999;
$grayLighter: #eee;
//$white:       #fff;

.main_layout_row {
  min-height: rem-calc(550);
}

.static_pages {
  background: url('lanterns.jpg') no-repeat center center;
  background-size: cover;
}

#poll-panel {
  padding: rem-calc(20) rem-calc(0) rem-calc(5) rem-calc(0);
  .large-12.columns {  /* applies to the div which has the both classes */
    text-align: center;
  }
  ul.button-group{
    display: inline-block;
  }
  .delete_link {
    text-align: right;
    padding-right: 10px;
    margin-top: -15px;
    a {
      color: $jumbo;
    }
  }
}

#question-panel {
  padding-left: rem-calc(40);
  padding-right: rem-calc(40);
}

#top-row {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(-35);
  padding: rem-calc(22);

  .button-group {
    margin-top: rem-calc(20);
    margin-left: rem-calc(5);
  }
}

form {
  margin-top: rem-calc(55);
}

#page-title {
  text-align: center;
}

#question-text {
  padding: rem-calc(10);

  h3 {
    text-decoration: underline;
    font-weight: bold;
  }

  h5 {
    text-indent: rem-calc(40);
    padding: rem-calc(10);
    font-weight: bold;
  }
}

#chart_box {
  margin-top: rem-calc(30);
  height: rem-calc(600);
}

ul#choice-list li {
  list-style: circle;
  padding-bottom: rem-calc(15);
  padding-left: rem-calc(10);
}

li {
  list-style: none;
}

a.remove_fields {
  margin-left: rem-calc(15);
}


/* welcome panel */

#welcome-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: $welcome-panel-color,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  border: 2px solid $ghost;
  text-align: center;
  margin-top: rem-calc(75);
  margin-bottom: rem-calc(75);
  h1 {
    font-size: rem-calc(60);
    font-weight: bold;
  }
  h3 {
    font-style: oblique;
  }
  ul {
    border-top: 1px solid $ghost;
    border-bottom: 1px solid $ghost;
    padding: rem-calc(10);
    li {
      font-size: rem-calc(18);
      text-transform: uppercase;
      list-style: disc;
    }
  }
}

/* topbar menu-icon fix */
.top-bar .toggle-topbar.menu-icon a:after {
    box-shadow: 0 10px 0 1px #FFFFFF, 0 16px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.top-bar .toggle-topbar.menu-icon a {
    color: #FFFFFF;
    height: 34px;
    line-height: 33px;
    padding: 0 25px 0 0;
    margin-right: rem-calc(15);
    position: relative;
}


/* footer */

footer {
  background-color: white;
}
          
.full-width {
  max-width: 1400px;
}

.footer {
  background-color: rgba(#333,0.5);
  padding: 2rem 4rem;
  text-align: center;
  color: $jet;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: $white-smoke;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 2.0rem;
  margin-bottom: 10px;
}

.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: $jet;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid $jet;
    min-height: 280px;
  }
}

.footer-links {
  list-style-type: none;
}

.footer-links li {
  margin-top: .5em;
}

div.copyright-line.columns {
  border-left: none;
  min-height: none;
}
.copyright-line small a {
  font-size: 1.1em;
  font-weight: bold;
}
   
/* errors and alerts */

.alert-notice {
  text-align: center;
  width: 20%;
  padding: 1em;
  margin-bottom: 2em;
  font: bold medium sans-serif;
  color: white;
  background-color: red;
}

#error_explanation {
  h2 {
    color: $gray;
  }
  color: red;
  ul {
    padding: 0;
    color: red;
    margin: 0 0 30px 0;
  }
}
