@import "foundation_and_overrides";

$black:       #000;
$grayDarker:  #222;
$grayDark:    #333;
$gray:        #555;
$grayMediumLight: #eaeaea;
$grayLight:   #999;
$grayLighter: #eee;
$white:       #fff;

.static_pages {
  background: url('lanterns.jpg') no-repeat center center;
  background-size: cover;
}

#poll-panel {
  padding: rem-calc(20) rem-calc(40) rem-calc(5) rem-calc(20);
}

#question-panel {
  padding-left: rem-calc(40);
  padding-right: rem-calc(40);
}

#top-row {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(-35);
  padding: rem-calc(22);

  .button-group {
    margin-top: rem-calc(20);
    margin-left: rem-calc(5);
  }
}

#page-title {
  text-align: center;
}

#question-text {
  padding: rem-calc(10);

  h3 {
    text-decoration: underline;
    font-weight: bold;
  }

  h5 {
    text-indent: rem-calc(40);
    padding: rem-calc(10);
    font-weight: bold;
  }
}

#chart_box {
  margin-top: rem-calc(30);
  height: rem-calc(600);
}

ul#choice-list li {
  list-style: circle;
  padding-bottom: rem-calc(15);
  padding-left: rem-calc(10);
}

li {
  list-style: none;
}

.alert-notice {
  text-align: center;
  width: 20%;
  padding: 1em;
  margin-bottom: 2em;
  font: bold medium sans-serif;
  color: red;
  background-color: #FF7B7B;
}







#error_explanation {
  h2 {
    color: $gray;
  }
  color: red;
  ul {
    padding: 0;
    color: red;
    margin: 0 0 30px 0;
  }
}



/* welcome unit */

#welcome_unit {
  height: 400px;
  width: 400px;
  margin: 5% 5% auto auto;
  align: center;
  position: relative;
  border-radius: 28px;
  background-color: #FF3300;
  border: 2px solid $white;
}

#welcome_content {
  text-align: center;
  align: center;
  z-index: 1;
  color: $white;
  font-weight: bold;
  h1 {
    font-size: 4.5em;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 1.8em;
    margin: 0em 1em .5em 1em;
    font-style: italic;
  }
  ul {
    align: center;
    letter-spacing: 1px;
    padding-top: 1em;
    width: 70%;
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
  }
  li {
    font: bold 1.2em sans-serif;
    padding-bottom: 0.5em;
    margin-left: 18%;
    text-align: justify;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
  a#signup_button div {
    background-color: $grayLighter;
    border: 2px solid $grayLight;
    border-radius: 10px;
    color: $grayDark;
    width: 40%;
    text-aling: center;
    font: bold 1.4em sans-serif;
    margin: auto;
    padding: .75em;
  }
}



/* footer */

footer {
  bottom: 0;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 40px;
  color: $gray;
  small {
    float: left;
  }
  a {
    text-decoration: none;
    color: $grayDarker;
      &:hover {
      color: $gray;
    }
  }
}